@media (hover: none) {
  .header {
		font-size:70px;
  }
	.page {
		font-size:60px;
  }

	.overlay .overlay_content{
		width:70%;
	}
}



svg 
{
position: relative;
opacity:0%;

background-color: rgba(0,0,0,0);
}


.main {
  fill: rgba(0,0,0,0);
}

.main:hover {
	cursor: pointer;	
  fill: black;
}

.container{
position: relative;
/*margin-top:5%;*/
}

#artworkDisplay
{
	/*display: none;	*/
	opacity: 0%;
}

.userHover{
	margin-left:200px;
	padding-left:200px;
	
}


.move{         
	position: absolute; /*comment here*/
}

.box{
width: 100%;
height: 100%;            
position: absolute;
top: 0;
left: 0;
text-align:center; /*Remember to remove*/
}
.stack-top
{
z-index: 1000;
}


.grid-container {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 150px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto
}

.grid-item {
	background: rgba(0, 0, 0, 0.6);
	margin: 1px;
	border-radius: 50%
}