
svg 
{
position: relative;
opacity:10%;

background-color: rgba(0,0,0,0);
}


.main {
  fill: rgba(0,0,0,0);
}

.main:hover {
	cursor: pointer;	
  fill: black;
}

.container{
position: relative;
margin-top:10%;
}

.artworkDisplay
{
border:1px solid blue;
	
}

.userHover{
	margin-left:200px;
	padding-left:200px;
	
}


.move{         
position: absolute; /*comment here*/
top: 0;
left: 0;
}
.box{
width: 100%;
height: 100%;            
position: absolute;
top: 0;
left: 0;
text-align:center; /*Remember to remove*/
}
.stack-top
{
z-index: 10;
}
